
<h1><%= @genre.id ? 'Edit Genre' : 'Create Genre' %></h1>
<%= form_for @genre do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, reqired: true, autofocus: true %>
  <br />
  <%= f.submit %>
<% end %>